*{
    font-family: 'poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(135, 135, 135);
}
header{
    background-color: rgb(242, 3, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.nav{
    border: black solid;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.box{
    /* background-color: blue; */
    color: white;
    width: 40px;
    height: 30px;
    text-align: center;
    position: relative;
}
.cart-count{
    background-color: red;
    position: absolute;
    top: -9px;
    right: 0;
    padding: 3px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    z-index: 99;
}
.fa-cart-shopping{
    position: absolute;
    font-size: 1,5rem;
    cursor: pointer;padding-top: 10px;
}
img{
    width: 100%;
    
}
.container{
    max-width: 1200px;
    padding: 4rem;
    width: 100%;
    margin: auto;

}
h2.title{
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    margin-bottom: 1.5rem
}
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.book-box{
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(40, 37, 0.1);
    border-radius: 3px;
    position: relative;
}
.pic{
    border: black solid;
    overflow: hidden;
    
}
.pic:hover img{
    transform: scale(1.1);
}
.book-image{
    transition: 0.4s;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.book-title{
    font-size: 1rem;
    font-weight: 600;
    color: orangered;
}
.book-price{
    font-weight: 500;
}
.book-box .fa-solid{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    background-color: green;
    padding: 10px;
    font-size: 1.1rem;
}
.book-box .fa-solid:hover{
    background-color: red;
    transition: 0.2s;
}
.cart{
    position: fixed;
    right: -100%;
    top: 0;
    width: 400px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    padding: 20px;
    box-shadow: 0 1px 4px rgba(40, 37,37,0.1);
    z-index: 100;
}
.cart-active{
    right: 0;
    transition: 0.5s;
}
.cart-title{
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
}
.cart-img{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.detail-box{
    display: grid;
    row-gap: 0.5rem;
}
.price-box{
    display: flex;
    justify-content: space-between;
}
.cart-book-title{
    font-size: 1rem;
    color: rgb(1, 146, 1);
    font-weight: 400;
    text-transform: uppercase;
}
.cart-price{
    font-weight: 700;
}
.fa-trash-can{
    color: red;
    cursor: pointer;
}
.cart-quantity{
    border: 1px solid black;
    width: 2.4rem;
    outline: none;
    text-align: center;
    font-size: 1rem;
}
.total{
    border: red solid;
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;

}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
margin-left: 0.5rem;
}
.btn-buy{
    padding: 12px 20px;
    color: white;
    background-color: rgb(43, 42, 42);
    border: none;
    cursor: pointer;
    font-weight: 500;
    
}
.fa-xmark{
    position: absolute;
    right: 0.8rem;
    top: 0;
    font-size: 2rem;
}