*{
    margin: 0px;
    padding: 0px;
}
.container1{
    
    height: 130vh;
    position: relative;
    background-color: rgba(3, 3, 3, 0.274);
    
}
.container1 .toggle {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 30px;
    display: none;
    box-sizing: border-box;
    align-self: flex-end;
    position: fixed;
    font-size: 30px;
    
    

}
.container1 .toggle i{
    /* font-size: 50px; */
}
.container1 video{
    width: 100%;
    position: absolute ;
    top: 0px;
    bottom: 50px;
    height: 112vh;
    font-size: 50px;
    z-index: -8;
    position: fixed;
    
}
.menu{
    display: flex;
    width: 100%;
    align-items: center;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.705);
    border: black solid;
    justify-content: space-between;  
    /* height: 10%;  */
    /* margin-top: 30px; */
    /* padding-top: 20px; */
    height: 15%;
    z-index: 100;
    position: fixed;
}
.menu h1{
    margin-left: 90px;
    
    background:linear-gradient(to right, #ff0000,#ffffff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* color:linear-gradient(to right, #c72092,#6c14d0); */
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 40px;
    
}
.menu ul{
    list-style: none;
    margin-top: 20px;
    /* border: blue solid; */
    display: flex;
    align-items: center;
    height: 50%;
    justify-content: space-around;
    word-spacing: 30%;
    margin-right:100px ;
    
}
.menu ul li a{
    margin-right: 20px;
    text-decoration: none;
    color: white;
    
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu ul li .logout{
    border: black solid;
    height: 50%;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.menu ul li a:hover{
    color:orange;
    font-weight: 900;
    
    
}
#menu1{
    
    width: 15%;
    background-color: white;
    height: 8%;  
    position: absolute;
    right: 15%;
    top: 100px;
    
}
#main11{
    
    height: 5vh;
    padding: 1px;  
} 
#main11 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
}  
#menu2{
    
    background-color: rgba(0, 0, 0, 0.493);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 50%;
    margin-left: 8%;
    margin-top: 8%;
    height: 45vh;
    position: relative;
    
}
#menu2 #joinus{
    position: relative;

}
#menu2 h3{
    font-size: 25px;
    line-height: 50px;
    color: white;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#menu2 h1{
    font-size: 50px;
    line-height: 50px;
    background:linear-gradient(to right, #000000,#ffffff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#menu2 p{
    font-size: 20px;
    position: absolute;
    bottom: 120px;
    color: white;
    
}
#joinus button{
    
    position: absolute;
    top: 120px;
    height: 40px;
    width: 22%;
    background-color: brown;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    
}
#slider-wrapper{
    position: relative;
   
    height: 50vh;
    margin-top: 50px;
    scroll-snap-type: mandatory;
    overflow-x: scroll;
    display: grid;
    /* display: flex; */
    /* width: 80%; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#card-items{
    border-radius: 20px;
    height: 90%;
    padding: 0px;
    flex: none;
    margin-top: 20px;
    cursor: pointer;
    width: 50vh;
    box-shadow:0 0 20px rgb(7, 7, 7);
    background-image: url(service-item-bg.jpg);
    background:linear-gradient(to right, #c72020,#ffffffb0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scroll-snap-align:start;
    flex-direction: column;
    align-items: center; 
    min-width: 10px;
    margin-left: 20px;
    position: relative;
}
#card-items:hover{
    box-shadow:0 0 20px rgb(255, 255, 255);
    
    width: 60vh;
    background:linear-gradient(to right, #ffffff,#fd0000b0);
    transition: 0.5s;
}
#card-items img{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
}
#card-items h3{
    position: absolute;
    left: 50%;
    color: white;
    font-size: 15px;
    font-weight: 900;
    top: 40%;
    transform: translate(-50%);
}
#card-items  p{
    position: absolute;
    left: 50%;
    color: white;
    top: 50%;
    transform: translate(-50%);
}



#container2{
    border:  rgba(0, 0, 0, 0) solid;
    height: 180vh;
    background-image: url(meetings-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#upcoming{
    
}
#upcoming h1{
    text-align: center;
    margin-top: 5%;
    background:linear-gradient(to right, #eeff00,#ffffff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* border: red solid; */
}

#container2 #line hr{
    width: 80%;
    /* border: red solid; */
    margin-top: 40px;
    text-align: center;
    margin-left: 120px;   
}
#bigbox{
    
    height: 150vh;
    display: grid;
    margin-top: 40px;
    position: relative;
    grid-template-columns: 1fr 1fr;
}
#box1{
    background:linear-gradient(to left,#666666,#ffffff);
    box-shadow:0 0 20px rgb(255, 255, 255);
    border-radius: 20px;
    height: 70vh;
    width: 50%;
    margin-left: 90px;
}
#box1 #catgories h3{
    margin-top: 40px;
    text-align: center;
}
#box1  #line2 hr{
    width: 80%;
    margin-left: 30px;
    margin-top: 20px;
}
#box1 #list{
    margin-left: 50px;
    line-height: 50px;
    
}
#box1 #list a{
    text-decoration: none;
    text-align: center;
    font-weight:900;
    color: black;

}
#box1 #click{
    position: relative;
}
#box1 #click button{
    position: absolute;
    top: 60px;
    left: 30px;
    height: 40px;
    width: 80%;
    border-radius: 40px;
    color: rgb(0, 0, 0);
    background:linear-gradient(to top,#ff0303,#fbff00);
    
}
#box1 #click button:hover{
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
    background:linear-gradient(to bottom,#ff0303,#fbff00);
}

#box2 {
   
    
    width: 60%;
    right: 65px;
    height: 98%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#pic img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 100%;
}
#doller1{
    
    border-radius: 20px;
    background:linear-gradient(to left,#666666,#ffffff);
    height: 400px;
    
    margin: 20px;
}
#doller1:hover{
    box-shadow:0 0 20px rgb(255, 255, 255);
    transition: 0.5s;
    transform: scale(1.2);
  
}
#doller2{ 
    border-radius: 20px;
    
    background:linear-gradient(to left,#666666,#ffffff);
    margin: 20px;
    height: 450px;
}
#doller2:hover{
    box-shadow:0 0 20px rgb(255, 255, 255);
    transition: 0.5s;
    transform: scale(1.2);
    
}
#doller3{ 
    border-radius: 20px;
    margin: 20px;
    height: 450px;
}
#doller4{
    border-radius: 20px;
     height: 400px;
    margin: 20px;
}
#write{
   
    position: relative;
    padding: 10px;
    height: 23vh;
}
#write1{
    
    position: relative;
    padding: 10px;
    height: 31vh;
}
#write1 #para h2{
    
    font-size: 40px;
}
#write #para {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#write #para h2{
    font-size: 20px;
}
#write #date{
    
    width: 20%;
    margin-top: 30px;
}
#write #date h3{
    text-align: center;
    color: brown;
}
#date h1{
    text-align: center;
}

#doller2 #write1 #date{
    position: absolute;
    
    top: 30px;
    width: 20%;
}
#doller2 #write1 #date h3{
    text-align: center;
    color: brown;
}

#doller2 #write1 #para{
    
    width: 90%;
    position: absolute;
    top: 50%;
    height: 40%;
}
#doller2 #write1 #para p{
    text-align: center;
}
#doller2 #write1 #para h2{
    font-size: 20px;
}
#container3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: yellow soli;
    height: 150vh;
    padding: 70px;
    background-image: url(apply-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#container3 #dappa1{
    
    width: 90%;
    height: 60%;
    margin-top: 100px;
    margin-left: 30px;
    
    display: flex;
    flex-direction: column;
   
}
    
#container3 #dappa1 #dappa11{
    border-radius: 20px;
    height: 40%;
    padding: 20px;
    position: relative;
    background:linear-gradient(to right, #00000071,#ffffff71);
}
#container3 #dappa1 #dappa11 h1{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;  
    color: white; 
}
#container3 #dappa1 #dappa11 p{
    font-size: 18px;
    position: absolute;
    top: 35%;
    color: white; 
}
#container3 #dappa1 #dappa11 button{
    position: absolute;
    bottom: 30px;
    width: 30%;
    height: 15%;
    border-radius: 30px;
    cursor: pointer;
    background:linear-gradient(to right, #000000,#ffffff);
}
#container3 #dappa1 #dappa12{
    
    border-radius: 20px;
    margin-top: 30px;
    height: 40%;
    padding: 20px;
    position: relative;
    background:linear-gradient(to right, #00000071,#ffffff71);
}
#container3 #dappa1 #dappa12 h1{
    text-align: center;
    font-size: 30px;
    margin-top: 10px; 
    color: white; 
}
#container3 #dappa1 #dappa12 p{
    font-size: 18px;
    position: absolute;
    top: 35%;
    color: white; 
}
#container3 #dappa1 #dappa12 button{
    position: absolute;
    bottom: 30px;
    width: 30%;
    height: 15%;
    background:linear-gradient(to right, #000000,#ffffff);
    border-radius: 30px;
    cursor: pointer;
}
#container3 #dappa2{
    border-radius: 20px;
    width: 90%;
    height: 70%;
    margin-top: 20px;
    margin-left: 30px;
}
#container3 #dappa2 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#container4{
    /* border: red solid; */
    padding: 100px;
    padding-top: 100px;
    background-image: url(meetings-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#container4 #popular{
    font-size: 40px;
    margin-left: 40px;
}
#container4 #popular h1{
    background:linear-gradient(to right, #eeff00,#ffffff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family:monospace;
}
#slider-wrapper1{
    position: relative;
   
    height: 50vh;
    margin-top: 50px;
    scroll-snap-type: mandatory;
    overflow-x: scroll;
    display: grid;
    display: flex;
    /* width: 80%; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#card-items1{
    
    height: 90%;
    padding: 0px;
    flex: none;
    margin-top: 20px;
    width: 36vh;
    box-shadow:0 0 20px yellow;
    background-image: url(service-item-bg.jpg);
    box-shadow:0 0 20px rgb(0, 0, 0);
    cursor: pointer;
    background:linear-gradient(to right, #c72020,#ffffffb0);
    background-repeat: no-repeat;
    
    background-size: cover;
    background-position: center;
    scroll-snap-align: start;
    flex-direction: column;
    align-items: center; 
    min-width: 10px;
    margin-left: 20px;
    position: relative;
}
#card-items1:hover{
    box-shadow:0 0 20px rgb(255, 255, 255);
    height: 100%;
    width: 40vh;
    background:linear-gradient(to right, #ffffff,#fd0000b0);
    transition: 0.5s;
}
#card-items1 img{
    position: absolute;
    left: 50%;
    top: 0%;
    height: 50%;
    width: 100%;
    transform: translate(-50%);
}
#card-items1 h3{
    position: absolute;
    left: 45%;
    color: white;
    font-size: 15px;
    font-weight: 900;
    top: 55%;
    transform: translate(-50%);
}
#card-items1  p{
    position: absolute;
    left: 50%;
    color: white;
    top: 50%;
    transform: translate(-50%);
}
#card-items1 #star{
    position: absolute;
    bottom: 5px;
    width: 98%;
    height: 20%;
    text-align: center;
}
#card-items1 #star i{
    font-size: 30px;
    color: yellow;    
}
#container5{
    height: 110vh;
    background-color: rgb(0, 0, 0);
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 120px;
    background-image: url(young-girl-reading-textbook.jpg);
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#container5 #count1{
    height: 90%;
    width: 550px;
    /* border: orange solid */
    position: relative;
    
}
#container5 #count1 #title{
    /* border: red solid; */
    height: 70px;
    padding: 20px;
}
#container5 #count1 #title h1{
    background:linear-gradient(to right, #ffffff,#ff0000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 800;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#container5 #count1 #box11{
    /* border: red solid; */
    height: 70%;
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#container5 #count1 #box11 #box12{
    border-radius: 20px;
    padding-top: 40px;
    background:linear-gradient(to right, #0000008e,#ffffff9d);
    width: 90%;
    height: 60%;
}
#container5 #count1 #box11 #box12:hover{
    
}
#container5 #count1 #box11 #box13{
    border-radius: 20px;
    padding-top: 40px;
    background:linear-gradient(to right, #0000008e,#ffffff9d);
    width: 90%;
    height: 60%;
}
#container5 #count1 #box11 #box12 h1{
    text-align: center;
}
#container5 #count1 #box11 #box12 h3{
    text-align: center;
}
#container5 #count1 #box11 #box13 h1{
    text-align: center;
}
#container5 #count1 #box11 #box13 h3{
    text-align: center;
}
#container5 #count1 #box11 #box13{
    margin-top: 60px;
    width: 90%;
    height: 60%;
    
}

#container5 #count2{
    height: 30%;
    width: 90%;
    margin-top: 150px;
    border-radius: 20px;
    margin-left: 40px;
    background-image: url(video-item-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    
    background-size: cover;
    position: relative;
}
#container5 #count2 a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#container5 .factors{
    /* border: red solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#container5 .factors button{
    width: 25vh;
    height: 40px;
    cursor: pointer;
}
#container6{
    /* border: red solid; */
    height: 100vh;
    background-image: url(meetings-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px ;
}
#container6 #address{
    /* border: red solid; */
    border-radius: 20px;
    background-color: wheat;
    margin-left: 20px;
    margin-top: 40px;
    width: 120%;
    height: 70%;
}
#container6 #address1{
    /* border: red solid; */
    width: 50%;
    background-color: #ff0000;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 250px;
    height: 60%;
}
#container6 #address #toch{
    padding-left: 20px;
    /* border: black solid; */
    padding-top: 20px;
}   
#container6 #address #toch h1{
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#container6 #address #line4{
    padding-left: 20px;
    /* border: black solid; */
   margin-top: 10px;
   padding-right: 20px;
   
}
#container6 #address #line4 hr{
    color: black;
}
#container6 #address #toch1{
    /* border: black solid; */
    height: 9%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}
#container6 #address #toch1 input{
    width: 35%;
    height: 70%;
    border-radius: 20px;
    background-color: white;
    color: black;
    border: none;
}
#container6 #address #toch2{
    /* border: black solid; */
    height: 40%;
   
    padding-left: 20px;
    padding-right: 20px;
}
#container6 #address #toch2 input{
    height: 100%;
    width: 100%;
    color: black;
    background-color: white;
    border: none;
    border-radius: 20px;
}

#container6 #address #toch3{
    height: 15%;
    padding-left: 30px;
    padding-top: 50px;
    /* border: #000000 solid; */
} 
#container6 #address #toch3 button{
    height: 70%;
    width: 30%;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(98, 0, 255);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container6 #address1{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
}
#container6 #address1 #no{
    height: 10%;
    margin-top: 20px;
}
#container6 #address1 #no h2{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#container6 #address1 #line5{
    margin-top: 30px;
}
@media (max-width:442px) {
    .menu{
        display: flex;
        width: 100%;
        position: absolute;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.705);
        /* border: black solid; */
        justify-content: space-between;  
        height: 25%; 
        /* margin-top: 30px; */
        padding-top: 20px;
        z-index: 100;
        position: fixed;
    }

    
    .container1{
    
        height: 150vh;
        position: relative;
        background-image: url(heading-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
    }
     .container1 .toggle{
        display: block;
        color: white;
     }   
     ul{ 
        width: 100%;
        display: flex;
        display: none;
        flex-direction: column;
        position: relative;
        
     }
     ul li{
        position: absolute;
        right: 0px;
        
       
       justify-content: end;
     }
     ul li a{
        display: block;
        
        font-size: 10px;
        margin-top: 10px;
     }
     .menu h1{
        margin-left: 10px;
        margin-top: 20px;
        font-size: 30px;
     }
     .active{
        display: block;
     }
    .menu ul li a:hover{
        color:orange;
        
    }
    #menu1{
        
        width: 15%;
        background-color: white;
        height: 8%;  
        position: absolute;
        right: 15%;
        top: 100px;
        
    }
    #menu2{
    
        background-color: rgba(0, 0, 0, 0.493);
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        width: 80%;
        margin-left: 8%;
        margin-top: 8%;
        height: 45vh;
       position: absolute;
       top: 30%;
       left: 10%;
        
    }
   
    #menu2 h3{
        font-size: 20px;
    }
    #menu2 h1{
        font-size: 20px;
    }
    #menu2 p{
        font-size: 10px;
    }
    .container1 #slider-wrapper{
        /* border: rgb(128, 0, 100) solid; */
        position: absolute;
        top: 60%;
    }
    #slider-wrapper{
        position: relative;
       margin-left: 100px;
        height: 50vh;
        margin-top: 50px;
        scroll-snap-type: mandatory;
        overflow-x: scroll;
        display: grid;
        /* display: flex; */
        width: 50%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    #card-items{
    
        height: 90%;
        padding: 0px;
        flex: none;
        margin-top: 20px;
        /* width: 36vh; */
        box-shadow:0 0 20px yellow;
        background-image: url(service-item-bg.jpg);
        box-shadow:0 0 20px rgb(0, 0, 0);
        cursor: pointer;
        background:linear-gradient(to right, #c72020,#ffffffb0);
        background-repeat: no-repeat;
        
        background-size: cover;
        background-position: center;
        scroll-snap-align: start;
        flex-direction: column;
        align-items: center; 
        min-width: 10px;
        margin-left: 20px;
        position: relative;
    }
   
   
    #container2 #line hr{
        width: 90%;
        /* border: red solid; */
        margin-top: 40px;
        text-align: center;
        margin-left: 20px;   
    }
    #container2 {
        height: 300vh;
        /* border: green solid; */
    }
    #container2 #total{
        display: grid;
        grid-column: 1fr;

    }
    #bigbox {
        /* border: black solid; */
        height: 90%;
    }
    #bigbox #box1{
    
        height: 30%;
        width: 50%;
       

        
    }
    #bigbox #box1 #catgories{
        width: 100%;
    }
    #bigbox #box1 #list{
        width: 100%;
        height: 30%;
    }
    #bigbox #box2{
        /* border: red solid; */
        margin-top: 20px;
        position: absolute;
        bottom: 80px;
        right: 2px;
        height: 50%;
        width: 100%;
        margin-left: 20px;
    }
    #bigbox #box2 #doller1{
        height: 80%;
    }
    #bigbox #box2 #doller1 #pic{
        height: 40%;
    }
    #bigbox #box2 #doller1 #write{
        height: 20%;
    }
    #bigbox #box2 #doller2{
        height: 80%;
    }
    #bigbox{
    
        /* height: 150vh; */
        display: grid;
        margin-top: 40px;
        position: relative;
        grid-template-columns: 1fr ;
    }
    #write1 #para h2{
    
        font-size: 10px;
    }
    #write #para {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    #write #para{
        height: 20%;
    }
    #write #para h2{
        font-size: 20px;
    }
    #write #date{
        
        width: 20%;
        margin-top: 30px;
        font-size: 10px;
    }
    #write #date h3{
        text-align: center;
        color: brown;
        font-size: 10px;
    }
    #date h1{
        text-align: center;
    }
    #container4 #popular{
        
        width: 100%;
        margin-left: 10px;
    }
    #container4 #popular h1{
        font-size: 20px;
        
    }
    #container5{
        height: 200vh;
        background-color: rgb(0, 0, 0);
        
        display: grid;
        grid-template-columns: 1fr ;
        padding: 20px;
        background-image: url(young-girl-reading-textbook.jpg);
        
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #container5 #count1{
        height: 90vh;
        width: 100%;
        /* border: orange solid; */
        position: relative;
        
    }
    #container5 #count1 #title{
        /* border: red solid; */
        height: 20px;
        width: 80%;
        padding: 20px;
    }
    #container5 #count1 #title h1{
        background:linear-gradient(to right, #ffffff,#ff0000);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: 800;
        font-size: 20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #container5 #count1 #box11{
        /* border: rgb(234, 0, 255) solid; */
        height: 70%;
        position: absolute;
        bottom: 0px;
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    #container5 #count1 #box11 #box12{
        border-radius: 20px;
        /* border: yellow solid; */
        padding-top: 40px;
        background:linear-gradient(to right, #0000008e,#ffffff9d);
        /* width: 30%; */
        /* height: 20%; */
    }
    #container5 #count1 #box11 #box12:hover{
        
    }
    #container5 #count1 #box11 #box13{
        border-radius: 20px;
        /* border: yellow solid; */
        padding-top: 40px;
        background:linear-gradient(to right, #0000008e,#ffffff9d);
        width: 30vh;
        height: 20%;
    }
    #container5 #count1 #box11 #box12 h1{
        text-align: center;
    }
    #container5 #count1 #box11 #box12 h3{
        text-align: center;
    }
    #container5 #count1 #box11 #box13 h1{
        text-align: center;
    }
    #container5 #count1 #box11 #box13 h3{
        text-align: center;
    }
    #container5 #count1 #box11 #box13{
        margin-top: 60px;
        width: 90%;
        height: 60%;
        
    }
    
    #container5 #count2{
        height: 30%;
        width: 60%;
        /* border: yellow solid; */
        margin-top: 150px;
        border-radius: 20px;
        margin-left: 40px;
        background-image: url(video-item-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        
        background-size: cover;
        position: relative;
    }
    #container5 #count2 iframe{
        width: 100%;
    }
    #container5 #count2 a{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #container6{
        /* border: red solid; */
        height: 200vh;
        background-image: url(meetings-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: grid;
        grid-template-columns: 1fr ;
        /* padding: 30px ; */
    }
    #container6 #address{
        /* border: green solid; */
        
        
    }
    #container6 #address{
        /* border: red solid; */
        border-radius: 20px;
        background:linear-gradient(to right, #0000007c,#ffffff71);
       
        margin-top: 100px;
        width: 70%;
        height: 100%;
    }
    
    #container6 #address #toch{
        padding-left: 20px;
        /* border: black solid; */
        padding-top: 20px;
    }   
    #container6 #address #line4{
        padding-left: 20px;
        /* border: black solid; */
       margin-top: 10px;
       padding-right: 20px;
       
    }
    #container6 #address #line4 hr{
        color: black;
    }
    #container6 #address #toch1{
        /* border: black solid; */
        height: 9%;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
    }
    #container6 #address #toch1 input{
        width: 35%;
        height: 70%;
        border-radius: 20px;
        background-color: rgb(218, 218, 218);
        color: black;
    }
    #container6 #address #toch2{
        /* border: black solid; */
        height: 40%;
        
        padding-left: 20px;
        padding-right: 20px;
    }
    #container6 #address #toch2 input{
        height: 100%;
        width: 100%;
        color: black;
        background-color: rgb(218, 218, 218);
        border-radius: 20px;
    }
    
    #container6 #address #toch3{
        height: 15%;
        padding-left: 30px;
        padding-top: 50px;
        /* border: #000000 solid; */
    } 
    #container6 #address #toch3 button{
        height: 70%;
        width: 30%;
        border-radius: 20px;
        cursor: pointer;
        background:linear-gradient(to right, #000000,#ffffff);
    }
    /* #container6 #address1{
        
        padding-right: 20px;
        padding-top: 50px;
        width: 100%;
    } */
    #container6 #address1 #no{
        height: 10%;
        margin-top: 20px;
    }
    #container6 #address1 #line5{
        margin-top: 30px;
    }
    #container6 #address1{
        /* border: red solid; */
        width: 50%;
        background:linear-gradient(to right, #0000007c,#ffffff71);
        border-radius: 20px;
        margin-top: 150px;
        height: 60%;
        margin-left: 0px;
    }


   
}

    




