*{
    margin: 0px;
    padding: 0px;
}
body video{
    z-index: -1;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container1{
    
    /* height: 130vh; */
    /* position: relative; */
    background-color: rgba(3, 3, 3, 0.274);
    /* border: yellow solid; */
    /* width: 100%; */
    
}
.container1 .toggle {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 30px;
    display: none;
    box-sizing: border-box;
    align-self: flex-end;
    position: fixed;
    font-size: 30px;
    
    

}
.container1 .toggle i{
    /* font-size: 50px; */
}
.container1 video{
    width: 100%;
    position: absolute ;
    top: 0px;
    bottom: 50px;
    height: 112vh;
    font-size: 50px;
    z-index: -8;
    position: fixed;
    
}
.main2{
    /* border: green solid; */
}
.menu{
    display: flex;
    /* width: 100%; */
    align-items: center;
    
    
    background-color: rgba(0, 0, 0, 0.705);
    border: black solid;
    justify-content: space-between;  
    /* height: 10%;  */
    /* margin-top: 30px; */
    /* padding-top: 20px; */
    height: 12%;
    z-index: 100;
    /* position: fixed; */
}
.menu h1{
    margin-left: 90px;
    
    background:linear-gradient(to right, #ff0000,#ffffff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* color:linear-gradient(to right, #c72092,#6c14d0); */
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 40px;
    
}
.pages ul{
    
    
    /* display: flex; */
    justify-content: space-around;
    padding: 20px;
    padding-right: 40px;
    
    list-style: none;
    
}
.pages li{
    padding-right: 30px;
    display: inline-block
}
.pages li a{
    /* margin-right: 20px; */
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu ul li .logout{
    border: black solid;
    height: 50%;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.menu ul li a:hover{
    color:orange;
    font-weight: 900;
    
    
}
#menu1{
    
    width: 15%;
    background-color: white;
    height: 8%;  
    position: absolute;
    right: 15%;
    top: 100px;
    
}
.fa-bars{
    color:  rgb(255, 255, 255);
    margin-right: 40px;
    
}
.close{
    display: none;
}
#main11{
    
    height: 5vh;
    padding: 1px;  
} 
#main11 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
}  
#menu2{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.493);
    margin-top: 20px;
    left:10%;
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: red solid; */
    border-radius: 10px;
    height: 20%;
    position: relative;
    
}
.info1 h3{
    color: orangered;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.info1 h1{
    background:linear-gradient(to right, #3cff00,#44ff00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.info1 p{
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.joinus button{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 251, 11);
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
}


    

.swiper-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.slider-wrapper{
    position: relative;
    width: 80%;
    height: 50vh;
    margin-top: 50px;
    /* border: yellow solid; */
    scroll-snap-type: mandatory;
    overflow-x: scroll;
    display: grid;
    
    /* width: 80%; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#card-items{
    border-radius: 20px;
    height: 90%;
    padding: 0px;
    flex: none;
    margin-top: 20px;
    cursor: pointer;
    width: 50vh;
    box-shadow:0 0 20px rgb(7, 7, 7);
    background-image: url(service-item-bg.jpg);
    background:linear-gradient(to right, #c72020,#ffffffb0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scroll-snap-align:start;
    flex-direction: column;
    align-items: center; 
    min-width: 10px;
    margin-left: 10vh;
    position: relative;
}
#card-items:hover{
    box-shadow:0 0 20px rgb(255, 255, 255);
    
    width: 60vh;
    background:linear-gradient(to right, #ffffff,#fd0000b0);
    transition: 0.5s;
}
#card-items img{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
}
#card-items h3{
    position: absolute;
    left: 50%;
    color: white;
    font-size: 15px;
    font-weight: 900;
    top: 40%;
    transform: translate(-50%);
}
#card-items  p{
    position: absolute;
    left: 50%;
    color: white;
    top: 50%;
    transform: translate(-50%);
}



#container2{
    border:  rgba(0, 0, 0, 0) solid;
   
    background-image: url(meetings-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#upcoming{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    margin-top: 20px;
    /* border: pink solid; */
}
#upcoming h1{
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}
#container2 #line{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container2 #line hr{
    width: 80%;
    /* border: red solid; */
    margin-top: 40px;
    text-align: center;
    
}
#bigbox{
    
    height: 150vh;
    
    margin-top: 40px;
    position: relative;
    display: flex;
}
#box1{
    background:linear-gradient(to left,#666666,#ffffff);
    box-shadow:0 0 20px rgb(255, 255, 255);
    border-radius: 20px;
    height: 40%;
    width: 20%;
    margin-left: 90px;
}
#box1 #catgories h3{
    margin-top: 40px;
    text-align: center;
}
#box1 #line2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#box1  #line2 hr{
    width: 80%;
    
    margin-top: 20px;
}
#box1 #list{
    margin-left: 50px;
    line-height: 50px;
    
}
#box1 #list a{
    text-decoration: none;
    text-align: center;
    font-weight:900;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#box1 #click{
    
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: end;
}
#box1 #click button{
   
    height: 40px;
    width: 80%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    border-radius: 40px;
    color: rgb(0, 0, 0);
    background:linear-gradient(to top,#ff0303,#fbff00);
    
}
#box1 #click button:hover{
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
    background:linear-gradient(to bottom,#ff0303,#fbff00);
}

#box2 {
   
    
    width: 60%;
    right: 65px;
    height: 98%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#pic img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 100%;
}
#doller1{
    
    border-radius: 20px;
    background:linear-gradient(to left,#666666,#ffffff);
    height: 80%;
    
    margin: 10%;
}
#doller1:hover{
    box-shadow:0 0 20px rgb(255, 255, 255);
    transition: 0.5s;
    transform: scale(1.2);
  
}
#doller2{ 
    border-radius: 20px;
    
    background:linear-gradient(to left,#666666,#ffffff);
    margin: 20px;
    height: 450px;
}
#doller2:hover{
    box-shadow:0 0 20px rgb(255, 255, 255);
    transition: 0.5s;
    transform: scale(1.2);
    
}
#doller3{ 
    border-radius: 20px;
    margin: 20px;
    height: 450px;
}
#doller4{
    border-radius: 20px;
     height: 400px;
    margin: 20px;
}
#write{
   
    position: relative;
    padding: 10px;
    height: 23vh;
}
#write1{
    
    position: relative;
    padding: 10px;
    height: 31vh;
}
#write1 #para h2{
    
    font-size: 40px;
}
#write #para {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#write #para h2{
    font-size: 20px;
}
#write #date{
    
    width: 20%;
    margin-top: 30px;
}
#write #date h3{
    text-align: center;
    color: brown;
}
#date h1{
    text-align: center;
}

#doller2 #write1 #date{
    position: absolute;
    
    top: 30px;
    width: 20%;
}
#doller2 #write1 #date h3{
    text-align: center;
    color: brown;
}

#doller2 #write1 #para{
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#doller2 #write1 #para p{
    text-align: center;
}
#doller2 #write1 #para h2{
    font-size: 20px;
}
#container3{
    display: flex;
    
    /* border: yellow soli; */
    
    padding: 70px;
    background-image: url(apply-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#container3 #dappa1{
    /* border: red solid; */
    width: 90%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
   
}
    
#container3 #dappa1 #dappa11{
    border-radius: 20px;
    height: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background:linear-gradient(to right, #00000071,#ffffff71);
}
#container3 #dappa1 #dappa11 h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#container3 #dappa1 #dappa11 p{
    font-size: 18px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white; 
}
#container3 #dappa1 #dappa11 button{
   
    width: 30%;
    height: 15%;
    border-radius: 30px;
    cursor: pointer;
    background:linear-gradient(to right, #000000,#ffffff);
}
#container3 #dappa1 #dappa12{
    
    border-radius: 20px;
    margin-top: 30px;
    height: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background:linear-gradient(to right, #00000071,#ffffff71);
}
#container3 #dappa1 #dappa12 h1{
   
    font-size: 30px;
    margin-top: 10px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
#container3 #dappa1 #dappa12 p{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white; 
}
#container3 #dappa1 #dappa12 button{
    
    width: 30%;
    height: 15%;
    background:linear-gradient(to right, #000000,#ffffff);
    border-radius: 30px;
    cursor: pointer;
}
#container3 #dappa2{
    border-radius: 20px;
    width: 90%;
    height: 70%;
    
    margin-left: 30px;
}
#container3 #dappa2 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#container4{
    /* border: red solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    padding-top: 100px;
    background-image: url(meetings-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#line{
    width: 80%;
}
#container4 #popular{
    
    width: 100%;
    text-align: center;
   
}
#container4 #popular h1{
    background:linear-gradient(to right, #eeff00,#ffffff);
    font-size: 40px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#slider-wrapper1{
    display: flex;
    /* border: yellow solid; */
    align-items: center;
    /* justify-content: center; */
    width: 80%;
    height: 50vh;
    margin-top: 50px;
    scroll-snap-type: mandatory;
    overflow-x: scroll;
    display: grid;
    
    /* width: 80%; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#card-items1{
    
    height: 90%;
    padding: 0px;
    flex: none;
    margin-top: 20px;
    width: 36vh;
    box-shadow:0 0 20px yellow;
    background-image: url(service-item-bg.jpg);
    box-shadow:0 0 20px rgb(0, 0, 0);
    cursor: pointer;
    background:linear-gradient(to right, #c72020,#ffffffb0);
    background-repeat: no-repeat;
    
    background-size: cover;
    background-position: center;
    scroll-snap-align: start;
    flex-direction: column;
    align-items: center; 
    min-width: 10px;
    margin-left: 20px;
    position: relative;
}
#card-items1:hover{
    box-shadow:0 0 20px rgb(255, 255, 255);
   transform: scale(1.05);
    background:linear-gradient(to right, #ffffff,#fd0000b0);
    transition: 0.5s;
}
#card-items1 img{
    position: absolute;
    left: 50%;
    top: 0%;
    height: 50%;
    width: 100%;
    transform: translate(-50%);
}
#card-items1 h3{
    position: absolute;
    left: 45%;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 900;
    top: 55%;
    transform: translate(-50%);
}

#card-items1 #star{
    position: absolute;
    bottom: 5px;
    width: 98%;
    height: 20%;
    text-align: center;
}
#card-items1 #star i{
    font-size: 30px;
    color: yellow;    
}
.container5{
    
    border: black solid;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(young-girl-reading-textbook.jpg);
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.container5 .count1{
   display: flex;
   flex-direction: column;
   gap: 10px;
   /* border: green solid; */
    
}
.container5 .count1 .title{
  width: 90%;
  text-align: center;
}
.container5 .count1 .title h1{
    background:linear-gradient(to right, #ffffff,#ff0000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 800;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container5 .count1 .pr1{
    /* border: red solid; */
    padding: 40px;
    /* display: flex; */
    column-gap: 30px;
    row-gap: 100px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.container5 .count1 .pr1 button{
    width: 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px;
    font-weight: 900;
}
.container5 .count1 .pr1 .small1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.54);
    width: 60%;
    height: 20vh;
    border-radius: 10px;
    
}
.container5 .count2{
   
}
#container5 #count1 #box11 #box12:hover{
    
}


#container6{
    /* border: red solid; */
    
    background-image: url(meetings-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
   
    padding: 30px ;
}
#container6 #address{
    /* border: red solid; */
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: wheat;
    margin-left: 20px;
    margin-top: 40px;
    
   
}
#container6 #address1{
    /* border: red solid; */
    width: 50%;
    background-color: #ff0000;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 250px;
    height: 60%;
}
#container6 #address #toch{
    padding-left: 20px;
    /* border: black solid; */
    padding-top: 20px;
}   
#container6 #address #toch h1{
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#container6 #address #line4{
    padding-left: 20px;
    /* border: black solid; */
   margin-top: 10px;
   padding-right: 20px;
   
}
#container6 #address #line4 hr{
    color: black;
}
#container6 #address #toch1{
    /* border: black solid; */
    height: 9%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
}
#container6 #address #toch1 input{
    text-align: center;
    width: 35%;
    height: 70%;
    border-radius: 20px;
    background-color: white;
    color: black;
    border: none;
}
#container6 #address #toch2{
    /* border: black solid; */
    height: 40%;
   
    padding-left: 20px;
    padding-right: 20px;
}
#container6 #address #toch2 input{
    height: 100%;
    text-align: center;
    width: 100%;
    color: black;
    background-color: white;
    border: none;
    border-radius: 20px;
}

#container6 #address #toch3{
    height: 15%;
    padding-left: 30px;
    padding-top: 50px;
    /* border: #000000 solid; */
} 
#container6 #address #toch3 button{
    padding: 5px;
    width: 30%;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(98, 0, 255);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container6 #address1{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
#container6 #address1 #no{
    height: 10%;
    margin-top: 20px;
}
#container6 #address1 #no h2{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#container6 #address1 #line5{
    margin-top: 30px;
}
@media (max-width:1070px) {
    .container1{
        /* width: 100%; */
    }
     ul{
       display: flex;
       flex-direction: column;
       height: 80%;
       gap: 10px;
       width: 60%;
       display: none;
       border: none;
       margin-left: 30px;
       
       
    }
    
    
    .menu{
        height: 28%;
        
    }
    .menu .head h1{
        margin-left: 10px;
        
        background:linear-gradient(to right, #ff0000,#ffffff);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        /* color:linear-gradient(to right, #c72092,#6c14d0); */
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 800;
        font-size: 20px;
        
    }
    .menu ul li a{
        /* margin-right: 20px; */
        text-decoration: none;
        color: white;
        font-size: 10px;
        font-weight: 700;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .fa-bars{
        color:  rgb(255, 255, 255);
        margin-right: 40px;
        
    }
    .close{
        display: block;
    }
    
    .show{
        display: block;
    }

    #menu2{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.493);
        top: 5%;
        left:10%;
        width: 40%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        border-radius: 10px;
        height: 30%;
        position: relative;
        
    }
    .info1 p{
        color: white;
        font-size: 10px;
    }
    .slider-wrapper{
        position: relative;
        width: 80%;
        height: 50vh;
        margin-top: 50px;
        
        scroll-snap-type: mandatory;
        overflow-y: scroll;
        display: grid;
        
        /* width: 80%; */
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    #card-items{
        border-radius: 20px;
        height: 90%;
        padding: 0px;
        flex: none;
        margin-top: 20px;
        cursor: pointer;
        width: 40vh;
        box-shadow:0 0 20px rgb(7, 7, 7);
        background-image: url(service-item-bg.jpg);
        background:linear-gradient(to right, #c72020,#ffffffb0);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        scroll-snap-align:start;
        flex-direction: column;
        align-items: center; 
        min-width: 10px;
        margin-left: 10vh;
        position: relative;
    }



    #container2{
        height: 360vh;
        
    }
    #upcoming{
        height: 3%;
    }
    #upcoming h1{
        font-size: 20px;    
    }
    #container2 #line{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #container2 #line hr{
        width: 80%;
        /* border: red solid; */
        margin-top: 40px;
        text-align: center;
        
    }
    #bigbox{
        
        height: 240vh;
        display: flex;
        margin-top: 40px;
        flex-direction: column;
        
       
    }
    #box1{
        background:linear-gradient(to left,#666666,#ffffff);
        box-shadow:0 0 20px rgb(255, 255, 255);
        border-radius: 20px;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-left: 90px;
    }
    #box1 #catgories h3{
        margin-top: 40px;
        text-align: center;
        font-size: 15px;
    }
    #box1 #line2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #box1  #line2 hr{
        width: 20vh;
        color: black;
        
        margin-top: 10px;
    }
    #box1 #list{
        
        line-height: 50px;
        
    }
    #box1 #list a{
        text-decoration: none;
        
        font-weight:900;
        color: black;
        font-size: 15px;
    
    }
    #box1 #click{
        
        display: flex;
        height: 20%;
        justify-content: center;
        align-items: center;
    }
    #box1 #click button{
       
        height: 40px;
        width: 80%;
        font-size: 10px;
        font-weight: 700;
        border-radius: 40px;
        color: rgb(0, 0, 0);
        background:linear-gradient(to top,#ff0303,#fbff00);
        
    }
    #box1 #click button:hover{
        transition: 0.5s;
        transform: scale(1.1);
        cursor: pointer;
        background:linear-gradient(to bottom,#ff0303,#fbff00);
    }
    
    #box2 {
       
        
        margin-top: 700px;
        grid-template-columns: 1fr ;
    }
    #pic img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
        height: 100%;
    }
    #doller1{
        
        border-radius: 20px;
        background:linear-gradient(to left,#666666,#ffffff);
        height: 90%;
        
        margin: 10%;
    }
    #doller1:hover{
        box-shadow:0 0 20px rgb(255, 255, 255);
        transition: 0.5s;
        transform: scale(1.2);
      
    }
    #doller2{ 
        border-radius: 20px;
        height: 80%;
        background:linear-gradient(to left,#666666,#ffffff);
        margin: 20px;
        
    }
    #doller2:hover{
        box-shadow:0 0 20px rgb(255, 255, 255);
        transition: 0.5s;
        transform: scale(1.2);
        
    }
    #doller3{ 
        border-radius: 20px;
        margin: 20px;
        height: 450px;
    }
    
    #write{
       
        position: relative;
        padding: 10px;
        height: 23vh;
    }
    #write1{
        
        position: relative;
        padding: 10px;
        height: 31vh;
    }
    #write1 #para h2{
        
        font-size: 10px;
    }
    #write #para {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    #write #para h2{
        font-size: 20px;
    }
    #write #date{
        
        width: 20%;
        margin-top: 30px;
    }
    #write #date h3{
        text-align: center;
        color: brown;
    }
    #date h1{
        text-align: center;
    }
    
    #doller2 #write1 #date{
        position: absolute;
        
        top: 30px;
        width: 20%;
    }
    #doller2 #write1 #date h3{
        text-align: center;
        color: brown;
    }
    
    #doller2 #write1 #para{
        
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    #doller2 #write1 #para p{
        text-align: center;
        font-size: 10px;
    }
    #doller2 #write1 #para h2{
        font-size: 20px;
    }




    #container3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border: yellow soli;
        
        padding: 70px;
        background-image: url(apply-bg.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    #container3 #dappa1{
        
        width: 90%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
       
    }
        
    #container3 #dappa1 #dappa11{
        border-radius: 20px;
        height: 30%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background:linear-gradient(to right, #00000071,#ffffff71);
    }
    #container3 #dappa1 #dappa11 h1{
        font-size: 20px;
        
    }
    #container3 #dappa1 #dappa11 p{
        font-size: 10px;
       
        color: white; 
    }
    #container3 #dappa1 #dappa11 button{
       font-size: 5px;
       font-weight: 700;
        width: 40%;
        padding: 10px;
        height: 15%;
        border-radius: 30px;
        cursor: pointer;
        background:linear-gradient(to right, #000000,#ffffff);
    }
    #container3 #dappa1 #dappa12{
        
        border-radius: 20px;
        margin-top: 30px;
        height: 30%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background:linear-gradient(to right, #00000071,#ffffff71);
    }
    #container3 #dappa1 #dappa12 h1{
       
        font-size: 20px;
        margin-top: 10px; 
        
    }
    #container3 #dappa1 #dappa12 p{
        font-size: 10px;
        
        color: white; 
    }
    #container3 #dappa1 #dappa12 button{
        font-size: 5px;
       font-weight: 700;
       padding: 10px;
        width: 40%;
        height: 15%;
        background:linear-gradient(to right, #000000,#ffffff);
        border-radius: 30px;
        cursor: pointer;
    }
    #container3 #dappa2{
        border-radius: 20px;
        width: 90%;
        height: 70%;
        margin-top: 20px;
        
    }
    #container3 #dappa2 img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }







    #container4{
        /* border: red solid; */
        /* display: flex;
        flex-direction: column;
         align-items: center; 
         justify-content: center;  */
         
        padding: 0px;
        padding-top: 100px;
        background-image: url(meetings-bg.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #line{
        width: 80%;
    }
    #container4 #popular{
        
        
        text-align: center;
       
    }
    #container4 #popular h1{
        background:linear-gradient(to right, #eeff00,#ffffff);
        font-size: 15px;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-family:monospace;
    }
    #slider-wrapper1{
        display: flex;
        
        align-items: center;
        /* justify-content: center; */
        width: 80%;
        height: 50vh;
        margin-top: 50px;
        scroll-snap-type: mandatory;
        overflow-x: scroll;
        display: grid;
        
        /* width: 80%; */
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    #card-items1{
        
        height: 80%;
        padding: 0px;
        flex: none;
        /* margin-top: 20px; */
        width: 36h;
        box-shadow:0 0 20px yellow;
        background-image: url(service-item-bg.jpg);
        box-shadow:0 0 20px rgb(0, 0, 0);
        cursor: pointer;
        background:linear-gradient(to right, #c72020,#ffffffb0);
        background-repeat: no-repeat;
        
        background-size: cover;
        background-position: center;
        scroll-snap-align: start;
        flex-direction: column;
        align-items: center; 
        min-width: 10px;
        margin-left: 20px;
        position: relative;
    }
    #card-items1:hover{
        box-shadow:0 0 20px rgb(255, 255, 255);
       transform: scale(1.05);
        background:linear-gradient(to right, #ffffff,#fd0000b0);
        transition: 0.5s;
    }
    #card-items1 img{
        position: absolute;
        left: 50%;
        top: 0%;
        height: 50%;
        width: 100%;
        transform: translate(-50%);
    }
    #card-items1 h3{
        position: absolute;
        left: 45%;
        color: rgb(0, 0, 0);
        font-size: 15px;
        font-weight: 900;
        top: 55%;
        transform: translate(-50%);
    }
    
    #card-items1 #star{
        position: absolute;
        bottom: 5px;
        width: 98%;
        height: 20%;
        text-align: center;
    }
    #card-items1 #star i{
        font-size: 30px;
        color: yellow;    
    }





    .container5{
    
        border: black solid;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-image: url(young-girl-reading-textbook.jpg);
        
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container5 .count1{
       display: flex;
       flex-direction: column;
       gap: 10px;
      
        
    }
    .container5 .count1 .title{
      width: 90%;
      text-align: center;
    }
    .container5 .count1 .title h1{
        background:linear-gradient(to right, #ffffff,#ff0000);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: 800;
        font-size: 25px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .container5 .count1 .pr1{
        
        padding: 40px;
        /* display: flex; */
        column-gap: 30px;
        row-gap: 100px;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .container5 .count1 .pr1 .small1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgba(255, 255, 255, 0.54);
        width: 70%;
        height: 20vh;
        border-radius: 10px;
        
    }
    .container5 .count1 .pr1 .small1 h3{
        font-size: 15px;
    }
    .container5 .count2 iframe{
        width: 80%;
        
    }
    #container5 #count1 #box11 #box12:hover{
        
    }




    #container6{
        /* border: red solid; */
        
        /* background-image: url(meetings-bg.jpg); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
       
        padding: 30px ;
    }
    #container6 #address{
        /* border: red solid; */
        display: flex;
        flex-direction: column;
        
        justify-content: space-evenly;
        border-radius: 20px;
        background-color: wheat;
        margin-left: 20px;
        margin-top: 40px;
        
       
    }
    #container6 #address1{
        /* border: red solid; */
        width: 50%;
        background-color: #ff0000;
        border-radius: 20px;
        margin-top: 40px;
        margin-left: 70px;
        height: 60%;
    }
    #container6 #address #toch{
        padding-left: 20px;
        /* border: black solid; */
        padding-top: 20px;
    }   
    #container6 #address #toch h1{
        color: rgb(0, 0, 0);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #container6 #address #line4{
        padding-left: 20px;
        /* border: black solid; */
       margin-top: 10px;
       padding-right: 20px;
       
    }
    #container6 #address #line4 hr{
        color: black;
    }
    #container6 #address #toch1{
        /* border: black solid; */
        height: 9%;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        column-gap: 20px;
        justify-content: space-between;
    }
    #container6 #address #toch1 input{
        text-align: center;
        width: 35%;
        height: 70%;
        border-radius: 20px;
        background-color: white;
        color: black;
        border: none;
    }
    #container6 #address #toch2{
        /* border: black solid; */
        height: 40%;
       
        padding-left: 20px;
        padding-right: 20px;
    }
    #container6 #address #toch2 input{
        height: 100%;
        text-align: center;
        width: 100%;
        color: black;
        background-color: white;
        border: none;
        border-radius: 20px;
    }
    
    #container6 #address #toch3{
        height: 15%;
        padding-left: 30px;
        padding-top: 50px;
        /* border: #000000 solid; */
    } 
    #container6 #address #toch3 button{
        padding: 5px;
        width: 30%;
        border-radius: 20px;
        cursor: pointer;
        background-color: rgb(98, 0, 255);
        color: white;
        font-size: 5px;
        margin-bottom: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #container6 #address1{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        width: 80%;
        margin-left: 15px;
    }
    #container6 #address1 #no{
        height: 10%;
        margin-top: 20px;
    }
    #container6 #address1 #no h2{
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #container6 #address1 #line5{
        margin-top: 30px;
    }

}
    
    




